<html>
  <head>
    <title>FCC ISQA Project - Personal Library</title>
    <meta name="description" content="A cool thing made with HyperDev" />
    <link
      id="favicon"
      rel="icon"
      href="https://hyperdev.com/favicon-app.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/public/style.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1><b>ISQA Project</b> - Personal Library</h1>
      </header>
      <div id="sampleposting" class="form-container">
        <form action="/api/books" method="post">
          <h4>Test post to /api/books</h4>
          <label for="title">Title:</label>
          <input type="text" name="title" value="" placeholder="Shantaram"/>
          <label for="author">Author:</label>
          <input type="text" name="author" value="" placeholder="Gregory David Roberts"/>
          <label for="release_year">Release Year:</label>
          <input type="number" name="release_year" value="" placeholder="2003"/>
          <label for="genres">Genres:</label>
          <input type="text" name="genres" value="" placeholder="novel, crime, autobiography, travel"/>
          <label for="language">Language:</label>
          <input type="text" name="language" value="" placeholder="English"/>
          <label for="added_by">Your Name:</label>
          <input type="text" name="added_by" value="" placeholder="Internet User"/>
          <input type="submit" value="Submit" />
        </form>
      </div>
      <div class="form-container">
        <form action="" method="post" id="commentTest">
          <h4>Test post to /api/books/{bookid}</h4>
          <label for="id">Book ID:</label>
          <input type="text" name="id" value="" id="idinputtest" placeholder="5da34f4fa368a96df49ccc61"/>
          <label for="comment">Comment:</label>
          <input type="text" name="comment" value="" placeholder="I love this book."/>
          <label>Your Name</label>
          <input type="text" name="commenter" placeholder="Internet User"/>
          <input type="submit" value="Submit" />
        </form>
      </div>
      <hr style="margin: 50px" />
      <div id="sampleui">
        <h2 style="text-align: left">Front End Library:</h2>
        <div id="display"></div>
        <div id="bookDetail" >
          <div class="form-container">
            <p id="detailTitle">Select a book to see it's details and comments</p>
            <ol id="detailComments"></ol>
          </div>
          <div class="form-container">
            <form id="newBookForm">
              <h2>
                Add a Book
              </h2>
              <label>Title:</label><input
                type="text"
                id="bookTitleToAdd"
                name="title"
                placeholder="New Book Title"
              />
              <button type="submit" value="Submit" id="newBook">
                Submit New Book!
              </button>
            </form>
            <button id="deleteAllBooks" class="delete">Delete all books...</button>
          </div>  
        </div>
      </div>
      <hr style="margin: 50px" />
<div id="userstories">
        <h2>User stories:</h2>
        <ol>
          <li>
            Nothing from my website will be cached in my client as a security
            measure.
          </li>
          <li>
            I will see that the site is powered by 'PHP 4.2.0' even though it
            isn't as a security measure.
          </li>
          <li>
            I can <b>post</b> a <code>title</code> to /api/books to add a book
            and returned will be the object with the <code>title</code> and a
            unique <code>_id</code>.
          </li>
          <li>
            I can <b>get</b> /api/books to retrieve an aray of all books
            containing <code>title</code>, <code>_id</code>, &
            <code>commentcount</code>.
          </li>
          <li>
            I can <b>get</b> /api/books/{_id} to retrieve a single object of a
            book containing <code>title</code>, <code>_id</code>, & an array of
            <code>comments</code> (empty array if no comments present).
          </li>
          <li>
            I can <b>post</b> a <code>comment</code> to /api/books/{_id} to add
            a comment to a book and returned will be the books object similar to
            <b>get</b> /api/books/{_id}.
          </li>
          <li>
            I can <b>delete</b> /api/books/{_id} to delete a book from the
            collection. Returned will be 'delete successful' if successful.
          </li>
          <li>
            If I try to request a book that doesn't exist I will get a 'no book
            exists' message.
          </li>
          <li>
            I can send a <b>delete</b> request to /api/books to delete all books
            in the database. Returned will be 'complete delete successful' if
            successful.
          </li>
          <li>All 6 functional tests required are complete and passing.</li>
        </ol>
        <br />
        <img
          src="https://cdn.gomix.com/d7932c52-287f-4dae-b175-631fef453000%2FScreen%20Shot%202016-12-16%20at%201.35.56%20AM.png"
        />
      </div>
      <script
        src="https://code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
        crossorigin="anonymous"
      ></script>
      <script src="/public/client.js"></script>
      <script>
        /*
         *  For #sampleposting to update form action url to test inputs book id
         */
        $(function() {
          $("#commentTest").submit(function() {
            var id = $("#idinputtest").val();
            $(this).attr("action", "/api/books/" + id);
          });
        });
      </script>
    </div>
  </body>
</html>
